/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__language {
  position: relative;
  width: 34px;
  height: 34px;
}

@media (min-width: 1024px) {
  .header__language {
    width: 38px;
    height: 38px;
  }
}

.header__language img {
  width: 34px;
  height: 34px;
}

@media (min-width: 1024px) {
  .header__language img {
    width: 38px;
    height: 38px;
  }
}

.header__switch-link {
  position: absolute;
  left: 0;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  color: #373737;
}

@media (min-width: 768px) {
  .header__switch-link {
    font-size: 16px;
  }
}

.header__switch-link--RU {
  opacity: 0;
}

.header__switch-link--UA {
  opacity: 0;
}

.header__language:hover .header__switch-link--RU {
  left: 30px;
}

.header__language:hover .header__switch-link--UA {
  left: 75px;
} */
